 
  
  .cursor {
   width: 100vw;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cursor:hover:nth-child(1)
{
    cursor: url('./1.png'), auto;
}

.cursor:hover:nth-child(2)
{
    cursor: url('./2.png'), auto;
}

.cursor:hover:nth-child(3)
{
    cursor: url('./3.png'), auto;
}

.cursor:hover:nth-child(4)
{
    cursor: url('./4.png'), auto;
}

.cursor:hover:nth-child(5)
{
    cursor: url('./5.png'), auto;
}

.cursor:hover:nth-child(6)
{
    cursor: url('./6.png'), auto;
}

.cursor:hover:nth-child(7)
{
    cursor: url('./7.png'), auto;
}

.cursor:hover:nth-child(8)
{
    cursor: url('./8.png'), auto;
}

.cursor:hover:nth-child(9)
{
    cursor: url('./9.png'), auto;
}

.cursor:hover:nth-child(10)
{
    cursor: url('./10.png'), auto;
}